.container{
    height: 90vh;
    width: 95%;
    transform: translateX(0.2%);
    /*border: 1px solid #000000;*/
    margin-bottom: 2em;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -10px;
    background: #ffffff;
    padding-bottom: 0.3em;
    width: 100%;
    height: 50%;
    /*border: 1px solid #000000;*/
    border-radius: 2%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.5s;
    animation: move-from-right 1s;
    animation-direction: alternate;
}

@keyframes move-from-right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

.card-image img{
    width: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    /*height: 100%;*/
}

.card-description{
    font-size: 0.7em;
}

.cards:hover{
    /*width: 120%;*/
    height: auto;
    z-index: 2;
    transform: scale(1.1);
    overflow: visible;
}

