.navbar{
    z-index: 1000;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.nav-logo {
    color: white;
    background: black;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 15px 10px 15px;
    width: fit-content;
    cursor: pointer;
}

.mobile-menu{
    display: none;
}

.nav-items{
    display: flex;
    flex: 0.9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-items li{
    list-style-type: none;
    cursor: pointer;
    padding: 0px 24px;
}

.active{
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -10px;
    height: 2px;
    background-color: black;
    transition: all 0.4s ease-in-out;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}


@media only screen and (max-width: 40rem) {
    .nav-items {
        display: none;
    }

    .mobile-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile-menu li{
        list-style-type: none;
    }
    .mobile-menu a{
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        transition: 0.5s;
        color: #000;
    }
    .active a{
        color: white;
        background: black;
        font-size: 20px;
        border-radius: 30px 5px 30px 15px;
        padding: 10px 15px 10px 15px;
        transition: 0.5s;
    }
}