.navbar{
    width: 100%;
    padding: 16px;
}

.nav-logo {
    float: left;
    padding: 8px 12px;
    width: fit-content;
    font-size: 16px;
}

.nav-links {
    float: right;

    a {
        text-decoration: none;
        color: black;
        padding: 8px 12px;
    }
}

@media (max-width: 768px) {
    .nav-logo {
        text-align: center;
        width: 100%
    }

}
