@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Pixelify+Sans&display=swap');

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    font-family: "Montserrat", serif;
    /*overflow: hidden;*/
}

.download-resume-btn {
    border: none;
    border-radius: 50px;
    padding: 16px 24px;
    background: black;
    color: white;
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
        scale: 1.1;
    }

}

.hero-image {
    width: 40%;
    border-radius: 16px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
        border-radius: 60% 40% 30% 70% / 70% 30% 60% 40%;
        animation: blobAnimation 10s linear infinite alternate;
        /*filter: grayscale(1);*/
    }
}

@keyframes blobAnimation {
    0% {
        border-radius: 60% 40% 30% 70% / 70% 30% 60% 40%;
    }
    25% {
        border-radius: 40% 60% 70% 30% / 30% 70% 40% 60%;
    }
    50% {
        border-radius: 30% 70% 60% 40% / 60% 40% 70% 30%;
    }
    75% {
        border-radius: 70% 30% 40% 60% / 40% 60% 30% 70%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 70% 30% 60% 40%;
    }
}

.circular-image {
    display: none;
}

.poster{
    background-image: url("../../public/assets/img/profile-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*img {*/
/*    max-width:500px;*/
/*    min-height:95%;*/
/*    width: auto;*/
/*    height: auto;*/
/*    filter: grayscale(100%);*/
/*    background: transparent;*/
/*    transition: 1.3s;*/
/*    padding: 10px;*/
/*    border-radius: 50px;*/
/*}*/

.fade-img {
    position: relative;
    right: 0;
    /*animation: move-from-left 1s ease-in-out;*/
}

@keyframes move-from-right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

.fade-img:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
    min-height: 40%;
}

.fade-img:before {
    position: absolute;
    top: 15%;
    left: -15%;
    fill: #023F92;
    max-width: 50vmax;
    z-index: -1;
    transform-origin: 50% 50%;
}

.intro-text{
    max-width: 50%;
    color: black;
    flex-direction: column;
    font-size: 32px;
    line-height: 1.3;
    text-align: start;
}

@keyframes move-from-left {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

.intro-text li{
    list-style-type: none;
}

@media only screen and (max-width: 40rem) {

    .container{
        margin-top: 12%;
    }

    .intro-text {
        position: absolute;
        display: block;
        max-width: 100%;
        text-align: center;
        font-size: 250%;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        top:55%;
    }

    .fade-img {
        display: none;
    }

    .circular-image{
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border:  1px solid #e5e5e5;
    }

    .circular-image img{
        position: relative;
        width: 120%;
        height: auto;
        left: -16%;
        top: -2%;
    }

}

.info-bar {
    width: 65%;
    height: 100px;
    background-color: #1a1a1a;
    position: absolute;
    right: -68px;
    bottom: -164px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    span {
        position: absolute;
        right: 30px;
        color: white;
        top: 35px;
    }
}
