.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 3em 2em 3em 2em;
}

.project .project-img {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 0 0 0;
    align-items: center;
    justify-content: center;
}

.project .project-img img {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    z-index: 2;
}

.project .project-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #d2d2d2;
    border-radius: 0 10px 10px 0;
    transition: 0.5s;
    /*transform: translateX(-100%);*/
    left: 0;
}

/*.project:hover .project-info {*/
/*    transform: translateX(0%);*/
/*    left: 0;*/
/*}*/


.button {
    cursor: pointer;
    background-color: #000000;
    border-radius: 8px;
    border: none;
    appearance: none;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: 1s;
    font-family: "Montserrat", serif;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
}