.workEx {
    background: #1a1a1a;
    width: 100%;
    color: #c8c8c8;
    font-family: "Montserrat", serif;
    clip-path: polygon(0 0, 100% 100px, 100% 0, 100% 100%, 0 100%);
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.workEx h1 {
    font-size: 32px;
    padding-bottom: 24px;
}

@media (max-width: 768px) {
    .workEx {
        clip-path: none;
    }

    .internal-section-space {
        padding-top:64px;
        padding-bottom:64px;
    }

}


