body {
    /*background: rgb(219, 255, 219) url('/public/assets/img/paper.svg');*/
    /*background: url('/public/assets/img/monkey-paper.jpg') repeat 0 0;*/
    /*background: url('../public/assets/img/noise.svg');*/
    background: #dad5d0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #dad5d0 black;
}


#root {
    background: #dad5d0;
}


@font-face {
    font-family: "WorkSans";
    src: url('/public/assets/fonts/Work_Sans/static/WorkSans-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "InterRegular";
    src: url('/public/assets/fonts/Inter/static/Inter_24pt-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "InterBold";
    src: url('/public/assets/fonts/Inter/static/Inter_24pt-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.work-sans-regular {
    font-family: WorkSans, Roboto, serif;
}
.inter-regular {
    font-family: InterRegular, Roboto, serif;
}
.inter-bold {
    font-family: InterBold, Roboto, serif;
}

.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.hero-space {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.internal-section-space {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    .mobile-display-none {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .not-mobile-display-none {
        display: none !important;
    }
}

.mascot {
    position: fixed;
    background: transparent;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 92px;
}


